<!---
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
          <div class="preloader-inner position-relative">
             <div class="preloader-circle"></div>
             <div class="preloader-img pere-text">
                <img src="assets/img/logo/loder.jpg" alt="">
             </div>
          </div>
    </div>
 </div>
 <!-- Preloader Start-->
 <header>
    <!-- Header Start -->
    <div class="header-area header_area header-transparent">
          <div class="main-header">
             <div class="header-bottom  header-sticky">
                   <div class="container-fluid">
                      <div class="row align-items-center">
                         <!-- Logo -->
                         <div class="col-xl-2 col-lg-1 col-md-1">
                               <div class="logo">
                               <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
                               </div>
                         </div>
                         <div class="col-xl-8 col-lg-8 col-md-8">
                               <!-- Main-menu -->
                               <div class="main-menu f-right d-none d-lg-block">
                                  <nav> 
                                     <ul id="navigation">                                                                                                                                     
                                       <li><a routerLink = "/home">Home</a></li>
                                       <li><a routerLink="/about">About</a></li>
                                       <li><a routerLink= "/service">Services</a></li>
                                       <li><a routerLink="/work">Works</a></li>
                                       <li><a routerLink="/blog">Blog</a>
                                           <ul class="submenu">
                                               <li><a routerLink="/blog">Blog</a></li>
                                               <li><a routerLink="/single">Blog Details</a></li>
                                           </ul>
                                       </li>
                                       <li><a href="#">Pages</a>
                                           <ul class="submenu">
                                               <li><a routerLink="/element">Element</a></li>
                                           </ul>
                                       </li>
                                       <li><a routerLink = "/contact">Contact</a></li>
                                     </ul>
                                  </nav>
                               </div>
                         </div>             
                         <div class="col-xl-2 col-lg-3 col-md-3">
                               <div class="header-right-btn f-right d-none d-lg-block">
                                  <a href="#" class="btn header-btn">Contact Now</a>
                               </div>
                         </div>
                         <!-- Mobile Menu -->
                         <div class="col-12">
                               <div class="mobile_menu d-block d-lg-none"></div>
                         </div>
                      </div>
                   </div>
             </div>
          </div>
    </div>
    <!-- Header End -->
</header>
 <main>
    <!-- Hero Area Start -->
    <div class="hero-area hero-height2 d-flex align-items-center" data-background="assets/img/hero/h2_hero.jpg">
       <div class="container">
             <div class="row">
                <div class="col-xl-12">
                   <div class="hero-cap text-center pt-50">
                         <h2>Single Blog</h2>
                   </div>
                </div>
             </div>
       </div>
    </div>
    <!-- Hero Area End -->
    <!--================Blog Area =================-->
    <section class="blog_area single-post-area section-padding">
       <div class="container">
          <div class="row">
             <div class="col-lg-8 posts-list">
                <div class="single-post">
                   <div class="feature-img">
                      <img class="img-fluid" src="assets/img/blog/single_blog_1.png" alt="">
                   </div>
                   <div class="blog_details">
                      <h2>Second divided from form fish beast made every of seas
                         all gathered us saying he our
                      </h2>
                      <ul class="blog-info-link mt-3 mb-4">
                         <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                         <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                      </ul>
                      <p class="excert">
                         MCSE boot camps have its supporters and its detractors. Some people do not understand why you
                         should have to spend money on boot camp when you can get the MCSE study materials yourself at a
                         fraction of the camp price. However, who has the willpower
                      </p>
                      <p>
                         MCSE boot camps have its supporters and its detractors. Some people do not understand why you
                         should have to spend money on boot camp when you can get the MCSE study materials yourself at a
                         fraction of the camp price. However, who has the willpower to actually sit through a
                         self-imposed MCSE training. who has the willpower to actually
                      </p>
                      <div class="quote-wrapper">
                         <div class="quotes">
                            MCSE boot camps have its supporters and its detractors. Some people do not understand why you
                            should have to spend money on boot camp when you can get the MCSE study materials yourself at
                            a fraction of the camp price. However, who has the willpower to actually sit through a
                            self-imposed MCSE training.
                         </div>
                      </div>
                      <p>
                         MCSE boot camps have its supporters and its detractors. Some people do not understand why you
                         should have to spend money on boot camp when you can get the MCSE study materials yourself at a
                         fraction of the camp price. However, who has the willpower
                      </p>
                      <p>
                         MCSE boot camps have its supporters and its detractors. Some people do not understand why you
                         should have to spend money on boot camp when you can get the MCSE study materials yourself at a
                         fraction of the camp price. However, who has the willpower to actually sit through a
                         self-imposed MCSE training. who has the willpower to actually
                      </p>
                   </div>
                </div>
                <div class="navigation-top">
                   <div class="d-sm-flex justify-content-between text-center">
                      <p class="like-info"><span class="align-middle"><i class="fa fa-heart"></i></span> Lily and 4
                         people like this</p>
                      <div class="col-sm-4 text-center my-2 my-sm-0">
                         <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                      </div>
                      <ul class="social-icons">
                         <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                         <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                         <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                         <li><a href="#"><i class="fa fa-behance"></i></a></li>
                      </ul>
                   </div>
                   <div class="navigation-area">
                      <div class="row">
                         <div
                            class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                            <div class="thumb">
                               <a href="#">
                                  <img class="img-fluid" src="assets/img/post/preview.png" alt="">
                               </a>
                            </div>
                            <div class="arrow">
                               <a href="#">
                                  <span class="lnr text-white ti-arrow-left"></span>
                               </a>
                            </div>
                            <div class="detials">
                               <p>Prev Post</p>
                               <a href="#">
                                  <h4>Space The Final Frontier</h4>
                               </a>
                            </div>
                         </div>
                         <div
                            class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                            <div class="detials">
                               <p>Next Post</p>
                               <a href="#">
                                  <h4>Telescopes 101</h4>
                               </a>
                            </div>
                            <div class="arrow">
                               <a href="#">
                                  <span class="lnr text-white ti-arrow-right"></span>
                               </a>
                            </div>
                            <div class="thumb">
                               <a href="#">
                                  <img class="img-fluid" src="assets/img/post/next.png" alt="">
                               </a>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="blog-author">
                   <div class="media align-items-center">
                      <img src="assets/img/blog/author.png" alt="">
                      <div class="media-body">
                         <a href="#">
                            <h4>Harvard milan</h4>
                         </a>
                         <p>Second divided from form fish beast made. Every of seas all gathered use saying you're, he
                            our dominion twon Second divided from</p>
                      </div>
                   </div>
                </div>
                <div class="comments-area">
                   <h4>05 Comments</h4>
                   <div class="comment-list">
                      <div class="single-comment justify-content-between d-flex">
                         <div class="user justify-content-between d-flex">
                            <div class="thumb">
                               <img src="assets/img/comment/comment_1.png" alt="">
                            </div>
                            <div class="desc">
                               <p class="comment">
                                  Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                                  Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                               </p>
                               <div class="d-flex justify-content-between">
                                  <div class="d-flex align-items-center">
                                     <h5>
                                        <a href="#">Emilly Blunt</a>
                                     </h5>
                                     <p class="date">December 4, 2017 at 3:12 pm </p>
                                  </div>
                                  <div class="reply-btn">
                                     <a href="#" class="btn-reply text-uppercase">reply</a>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="comment-list">
                      <div class="single-comment justify-content-between d-flex">
                         <div class="user justify-content-between d-flex">
                            <div class="thumb">
                               <img src="assets/img/comment/comment_2.png" alt="">
                            </div>
                            <div class="desc">
                               <p class="comment">
                                  Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                                  Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                               </p>
                               <div class="d-flex justify-content-between">
                                  <div class="d-flex align-items-center">
                                     <h5>
                                        <a href="#">Emilly Blunt</a>
                                     </h5>
                                     <p class="date">December 4, 2017 at 3:12 pm </p>
                                  </div>
                                  <div class="reply-btn">
                                     <a href="#" class="btn-reply text-uppercase">reply</a>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="comment-list">
                      <div class="single-comment justify-content-between d-flex">
                         <div class="user justify-content-between d-flex">
                            <div class="thumb">
                               <img src="assets/img/comment/comment_3.png" alt="">
                            </div>
                            <div class="desc">
                               <p class="comment">
                                  Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                                  Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                               </p>
                               <div class="d-flex justify-content-between">
                                  <div class="d-flex align-items-center">
                                     <h5>
                                        <a href="#">Emilly Blunt</a>
                                     </h5>
                                     <p class="date">December 4, 2017 at 3:12 pm </p>
                                  </div>
                                  <div class="reply-btn">
                                     <a href="#" class="btn-reply text-uppercase">reply</a>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="comment-form">
                   <h4>Leave a Reply</h4>
                   <form class="form-contact comment_form" action="#" id="commentForm">
                      <div class="row">
                         <div class="col-12">
                            <div class="form-group">
                               <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9"
                                  placeholder="Write Comment"></textarea>
                            </div>
                         </div>
                         <div class="col-sm-6">
                            <div class="form-group">
                               <input class="form-control" name="name" id="name" type="text" placeholder="Name">
                            </div>
                         </div>
                         <div class="col-sm-6">
                            <div class="form-group">
                               <input class="form-control" name="email" id="email" type="email" placeholder="Email">
                            </div>
                         </div>
                         <div class="col-12">
                            <div class="form-group">
                               <input class="form-control" name="website" id="website" type="text" placeholder="Website">
                            </div>
                         </div>
                      </div>
                      <div class="form-group">
                         <button type="submit" class="button button-contactForm btn_1 boxed-btn">Send Message</button>
                      </div>
                   </form>
                </div>
             </div>
             <div class="col-lg-4">
                <div class="blog_right_sidebar">
                   <aside class="single_sidebar_widget search_widget">
                      <form action="#">
                         <div class="form-group">
                            <div class="input-group mb-3">
                               <input type="text" class="form-control" placeholder='Search Keyword'
                                  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                               <div class="input-group-append">
                                  <button class="btns" type="button"><i class="ti-search"></i></button>
                               </div>
                            </div>
                         </div>
                         <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                            type="submit">Search</button>
                      </form>
                   </aside>
                   <aside class="single_sidebar_widget post_category_widget">
                      <h4 class="widget_title">Category</h4>
                      <ul class="list cat-list">
                         <li>
                            <a href="#" class="d-flex">
                               <p>Resaurant food</p>
                               <p>(37)</p>
                            </a>
                         </li>
                         <li>
                            <a href="#" class="d-flex">
                               <p>Travel news</p>
                               <p>(10)</p>
                            </a>
                         </li>
                         <li>
                            <a href="#" class="d-flex">
                               <p>Modern technology</p>
                               <p>(03)</p>
                            </a>
                         </li>
                         <li>
                            <a href="#" class="d-flex">
                               <p>Product</p>
                               <p>(11)</p>
                            </a>
                         </li>
                         <li>
                            <a href="#" class="d-flex">
                               <p>Inspiration</p>
                               <p>(21)</p>
                            </a>
                         </li>
                         <li>
                            <a href="#" class="d-flex">
                               <p>Health Care</p>
                               <p>(21)</p>
                            </a>
                         </li>
                      </ul>
                   </aside>
                   <aside class="single_sidebar_widget popular_post_widget">
                      <h3 class="widget_title">Recent Post</h3>
                      <div class="media post_item">
                         <img src="assets/img/post/post_1.png" alt="post">
                         <div class="media-body">
                            <a href="single-blog.html">
                               <h3>From life was you fish...</h3>
                            </a>
                            <p>January 12, 2019</p>
                         </div>
                      </div>
                      <div class="media post_item">
                         <img src="assets/img/post/post_2.png" alt="post">
                         <div class="media-body">
                            <a href="single-blog.html">
                               <h3>The Amazing Hubble</h3>
                            </a>
                            <p>02 Hours ago</p>
                         </div>
                      </div>
                      <div class="media post_item">
                         <img src="assets/img/post/post_3.png" alt="post">
                         <div class="media-body">
                            <a href="single-blog.html">
                               <h3>Astronomy Or Astrology</h3>
                            </a>
                            <p>03 Hours ago</p>
                         </div>
                      </div>
                      <div class="media post_item">
                         <img src="assets/img/post/post_4.png" alt="post">
                         <div class="media-body">
                            <a href="single-blog.html">
                               <h3>Asteroids telescope</h3>
                            </a>
                            <p>01 Hours ago</p>
                         </div>
                      </div>
                   </aside>
                   <aside class="single_sidebar_widget tag_cloud_widget">
                      <h4 class="widget_title">Tag Clouds</h4>
                      <ul class="list">
                         <li>
                            <a href="#">project</a>
                         </li>
                         <li>
                            <a href="#">love</a>
                         </li>
                         <li>
                            <a href="#">technology</a>
                         </li>
                         <li>
                            <a href="#">travel</a>
                         </li>
                         <li>
                            <a href="#">restaurant</a>
                         </li>
                         <li>
                            <a href="#">life style</a>
                         </li>
                         <li>
                            <a href="#">design</a>
                         </li>
                         <li>
                            <a href="#">illustration</a>
                         </li>
                      </ul>
                   </aside>
                   <aside class="single_sidebar_widget instagram_feeds">
                      <h4 class="widget_title">Instagram Feeds</h4>
                      <ul class="instagram_row flex-wrap">
                         <li>
                            <a href="#">
                               <img class="img-fluid" src="assets/img/post/post_5.png" alt="">
                            </a>
                         </li>
                         <li>
                            <a href="#">
                               <img class="img-fluid" src="assets/img/post/post_6.png" alt="">
                            </a>
                         </li>
                         <li>
                            <a href="#">
                               <img class="img-fluid" src="assets/img/post/post_7.png" alt="">
                            </a>
                         </li>
                         <li>
                            <a href="#">
                               <img class="img-fluid" src="assets/img/post/post_8.png" alt="">
                            </a>
                         </li>
                         <li>
                            <a href="#">
                               <img class="img-fluid" src="assets/img/post/post_9.png" alt="">
                            </a>
                         </li>
                         <li>
                            <a href="#">
                               <img class="img-fluid" src="assets/img/post/post_10.png" alt="">
                            </a>
                         </li>
                      </ul>
                   </aside>
                   <aside class="single_sidebar_widget newsletter_widget">
                      <h4 class="widget_title">Newsletter</h4>
                      <form action="#">
                         <div class="form-group">
                            <input type="email" class="form-control" onfocus="this.placeholder = ''"
                               onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                         </div>
                         <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                            type="submit">Subscribe</button>
                      </form>
                   </aside>
                </div>
             </div>
          </div>
       </div>
    </section>
    <!--================ Blog Area end =================-->
 </main>
 <footer>
    <!-- Footer Start-->
    <div class="footer-area">
        <div class="container">
           <div class="footer-top footer-padding">
                <div class="row justify-content-between">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo">
                                    <a href="index.html"><img src="assets/img/logo/logo2_footer.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Services</h4>
                                <ul>
                                    <li><a href="#">Marketing</a></li>
                                    <li><a href="#"> SEO Service</a></li>
                                    <li><a href="#">Digital market</a></li>
                                    <li><a href="#">Content create</a></li>
                                    <li><a href="#">Find Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Customer Care</h4>
                                <ul>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">News & Articles</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#"> Terms of Use</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4><span>+564</span> 7885 3222</h4>
                                <ul>
                                    <li><a href="#">youremail@gmail.com</a></li>
                                </ul>
                                <p>123 East 26th Street, Fifth Floor, New York, NY 10011</p>
                            </div>
                            <!-- footer social -->
                            <div class="footer-social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
            <div class="footer-bottom">
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="footer-copy-right">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div>
                    </div>
                </div>
           </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>
<!-- Scroll Up -->
<div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>